<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458723051511-guk0pjpt3d619lptsc05mm9km80k9tau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458723051511-guk0pjpt3d619lptsc05mm9km80k9tau</string>
	<key>API_KEY</key>
	<string>AIzaSyBeWE4VUdke7ibJ5SALFVs15hpCD8jgYbw</string>
	<key>GCM_SENDER_ID</key>
	<string>458723051511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ilya.SongsApp</string>
	<key>PROJECT_ID</key>
	<string>songsappdb</string>
	<key>STORAGE_BUCKET</key>
	<string>songsappdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458723051511:ios:994aa98e0be7460d0310f2</string>
</dict>
</plist>